main {
  position: relative;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 26.5%;
}

h1 {
  text-align: center;
  width: 38.625rem;
  width: 42.9%;
  margin: 0 auto 3rem;
}

.details {
  font-size: 1.25rem;
  width: 42.9%;
  margin: 0 auto 2rem;
  line-height: 2rem;
}

.details::selection,
label::selection,
legend::selection,
input::selection {
  background-color: #281351;
  color: #c0716a;
}

input:focus input::placeholder {
  background-color: red;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 35%;
  }

  h1 {
    width: 53.6%;
    margin: 0 auto 2rem;
    font-size: 1.4rem;
    line-height: 1.4;
  }

  .details {
    font-size: 1.25rem;
    width: 53.6%;
    line-height: 1.7;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 50%;
  }

  h1 {
    width: 90%;
    margin: 0 auto 2rem;
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .details {
    font-size: 1rem;
    width: 90%;
    line-height: 1.5;
  }
}
